.App {
    margin: 1rem;
    font-family: Arial, Helvetica, sans-serif;
  }

  .title{
    text-align: center;
    color: #88B5CF;
  }

  .coin{
    color: #FF761C;
  }

  .currencies{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    position: relative;
    margin-left: 50px;
    margin-right: 50px;
  }

  select{
    width: 150px;
    height: 50px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #88B5CF;
  }

  select:hover{
    width: 150px;
    height: 50px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #FF761C;
    cursor: pointer;
  }

  .period{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    margin-top: 40px;
    color: #9EA1A6;
  }

.bar-chart{
  margin-top: 30px;
}